@model WebApplication2.Models.Categoria

@{
    ViewBag.Title = "Eliminar categoria";
}

<h2>Eliminar categoria</h2>

<h3>Estas seguro de eliminar esta categoria?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombrecategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombrecategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenCat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
