@model WebApplication2.Models.Categoria

@{
    ViewBag.Title = "Detalles categoria";
}

<h2>Detalles categoria</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombrecategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombrecategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenCat)
        </dt>

        <dd>
            <img src="@Url.Content(Model.imagenCat)" style="width:50px; height:50px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idcategoria }) |
    @Html.ActionLink("Categorias", "Index") |
    @Html.ActionLink("Juegos", "Index", "Juegoes", new { id = 0 }, null)
</p>
