@model IEnumerable<WebApplication2.Models.Juego>

@{
    ViewBag.Title = "Lista de juegos";
}

<h2>Lista de juegos</h2>

<p>
    @Html.ActionLink("Registar juego", "Create")
</p>
<p>
    @Html.ActionLink("Juego más caro al más barato", "Index", new { orderTable = 1 }, new { @class = "btnActive" })
</p>
    <table class="table table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoria.Nombrecategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.existencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.categoria.Nombrecategoria, "Details", "Categorias", new { id = item.categoria.idcategoria }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomJuego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.existencias)
                </td>
                <td>
                    <img src="@item.imagen" style="width:80px; height:50px" />
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idjuego }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idjuego }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idjuego })
                </td>
            </tr>
        }

    </table>
